.hero{
	background-image: url(../img/img_back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 50px 0;
	min-height: 500px;
	position: relative;
}
.hero-content{
font-family: courier;
position: absolute;
top: 50%;
text-align: center;
width:100%;
}

.hero-content h2{
	color: purple;
	text-shadow: 2px ;
	font-size: 50px;
}
.hero-content p{
	color: blue;
	font-size: 17px;
	margin-bottom: 40px;
}

.hero-content .btn{
	padding-top: 20px 30px;
	border-radius: 3px;
}

main{
	padding: 20px;
	
}